.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 3em;
  gap: 1em;
  font-size: 2em;
}
.label {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
}
.inputText {
  text-transform: uppercase;
}
.input {
  margin: 0 0.5em;
  padding: 0.2em;
  border: 0.1em solid var(--secTransparent);
  outline: none;
  transition: all 0.3s ease-in-out;
}
.input:focus {
  border-color: var(--secondary);
}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
