.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.active {
  color: var(--white);
}
.active .text {
  border-bottom: 0.1em solid var(--white);
}
.item {
  position: relative;
  cursor: pointer;
  margin: 2em 0;
  font-size: 2em;
  color: var(--white);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.inActive {
  color: var(--white);
  border-bottom: 0.1em solid transparent;
}
.item::after {
  content: attr(data-name);
  display: block;
  position: absolute;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  transform: translateY(0);
}
.text {
  position: relative;
  transition: all 0.3s ease-in-out;
  border-bottom: 0.1em solid transparent;
}
.item:hover .text,
.item:focus .text {
  transform: translateY(-200%);
}
.item:hover::after {
  width: 100%;
  transform: translateY(-100%);
}
