.section {
  position: relative;
  height: 100%;
}
.sidebar {
  position: fixed;
  width: 20em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary);
  transition: all 0.3s ease-in-out;
}
.hideBtn {
  position: absolute;
  top: 1em;
  right: -3.25em;
  padding: 0.5em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 0.1em solid transparent;
  font-size: 1em;
  text-transform: uppercase;
  background-color: var(--secondary);
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.position {
  right: -3.95em;
}
.hide {
  transform: translateX(-100%);
}
.hideBtn:hover,
.hideBtn:focus {
  background-color: var(--white);
  color: var(--secondary);
  border: 0.1em solid var(--secondary);
}
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  background: var(--white);
  width: 6em;
  height: 6em;
  transition: all 1s ease-in-out;
}
.playIcon {
  width: 5em;
  color: var(--secondary);
  fill: var(--white);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.playIcon:hover {
  color: var(--white);
  fill: var(--secondary);
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
